*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'agency fb';
}

body{
    height: 100vh;  
    background: url('../imgs/reindeer.png') no-repeat;
    background-size: cover;
    background-position: 50%;
}